.vscode/*
node_modules/
yarn-error.log

test/fixtures/test-database.db
content/user-data/*.json
content/*.db

.gradebook-cli
config.*.json
!config.example.json
!config.testing.json
logs/
developer.js
